<form class="module-container ng-pristine ng-valid ng-valid-min">
 <div class="module module-epics" ng-class="{true:'active', false:''}[project.is_epics_activated]">
  <div class="module-icon">
   <tg-svg svg-icon="icon-module-epic">
    <svg class="icon icon-module-epic" style="fill: ">
     <use href="#icon-module-epic" ng-attr-href="{{ '#' + svgIcon }}" ng-attr-xlink:href="{{ '#' + svgIcon }}" xlink:href="#icon-module-epic">
      <!-- -->
      <!-- -->
     </use>
    </svg>
   </tg-svg>
  </div>
  <div class="module-name" translate="ADMIN.MODULES.EPICS">
   Epics
  </div>
  <div class="module-desc">
   <p translate="ADMIN.MODULES.EPICS_DESCRIPTION">
    Visualize and manage the most strategic part of your project
   </p>
  </div>
  <div class="module-activation module-direct-active">
   <div class="check">
    <input aria-invalid="false" class="activate-input ng-pristine ng-untouched ng-valid ng-empty" id="functionality-epics" name="functionality-epics" ng-checked="project.is_epics_activated" ng-model="project.is_epics_activated" type="checkbox"/>
    <div>
    </div>
    <span class="check-text check-yes" translate="COMMON.YES">
     Yes
    </span>
    <span class="check-text check-no" translate="COMMON.NO">
     No
    </span>
   </div>
  </div>
 </div>
 <div class="module module-scrum active" ng-class="{true:'active', false:''}[project.is_backlog_activated]">
  <div class="module-icon">
   <tg-svg svg-icon="icon-module-scrum">
    <svg class="icon icon-module-scrum" style="fill: ">
     <use href="#icon-module-scrum" ng-attr-href="{{ '#' + svgIcon }}" ng-attr-xlink:href="{{ '#' + svgIcon }}" xlink:href="#icon-module-scrum">
      <!-- -->
      <!-- -->
     </use>
    </svg>
   </tg-svg>
  </div>
  <div class="module-name" translate="ADMIN.MODULES.BACKLOG">
   Scrum
  </div>
  <div class="module-desc">
   <p translate="ADMIN.MODULES.BACKLOG_DESCRIPTION">
    Manage your user stories to maintain an organized view of upcoming and prioritized work.
   </p>
   <!-- -->
   <div class="module-desc-options" ng-if="project.is_backlog_activated">
    <fieldset>
     <label for="total-sprints">
      Expected number of sprints
     </label>
     <input aria-invalid="false" class="ng-pristine ng-untouched ng-valid ng-empty ng-valid-min" data-type="digits" id="total-sprints" min="0" name="total-sprints" ng-model="project.total_milestones" placeholder="0 for an undetermined number" type="number"/>
    </fieldset>
    <fieldset>
     <label for="total-story-points">
      Expected total of story points
     </label>
     <input aria-invalid="false" class="ng-pristine ng-untouched ng-valid ng-empty ng-valid-min" data-type="digits" id="total-story-points" min="0" name="total-story-points" ng-model="project.total_story_points" placeholder="0 for an undetermined number" type="number"/>
    </fieldset>
    <div class="options">
     <!-- -->
     <a class="save" href="" ng-if="project.is_backlog_activated">
      <tg-svg svg-icon="icon-check-empty">
       <svg class="icon icon-check-empty" style="fill: ">
        <use href="#icon-check-empty" ng-attr-href="{{ '#' + svgIcon }}" ng-attr-xlink:href="{{ '#' + svgIcon }}" xlink:href="#icon-check-empty">
         <!-- -->
         <!-- -->
        </use>
       </svg>
      </tg-svg>
     </a>
     <!-- -->
    </div>
   </div>
   <!-- -->
  </div>
  <div class="module-activation module-direct-active">
   <div class="check">
    <input aria-invalid="false" class="activate-input ng-pristine ng-untouched ng-valid ng-not-empty" id="functionality-backlog" name="functionality-backlog" ng-checked="project.is_backlog_activated" ng-model="project.is_backlog_activated" type="checkbox"/>
    <div>
    </div>
    <span class="check-text check-yes" translate="COMMON.YES">
     Yes
    </span>
    <span class="check-text check-no" translate="COMMON.NO">
     No
    </span>
   </div>
  </div>
 </div>
 <div class="module module-kanban active" ng-class="{true:'active', false:''}[project.is_kanban_activated]">
  <div class="module-icon">
   <tg-svg svg-icon="icon-module-kanban">
    <svg class="icon icon-module-kanban" style="fill: ">
     <use href="#icon-module-kanban" ng-attr-href="{{ '#' + svgIcon }}" ng-attr-xlink:href="{{ '#' + svgIcon }}" xlink:href="#icon-module-kanban">
      <!-- -->
      <!-- -->
     </use>
    </svg>
   </tg-svg>
  </div>
  <div class="module-name" translate="ADMIN.MODULES.KANBAN">
   Kanban
  </div>
  <div class="module-desc" translate="ADMIN.MODULES.KANBAN_DESCRIPTION">
   Organize your project in a lean way with this board.
  </div>
  <div class="module-activation module-direct-active">
   <div class="check">
    <input aria-invalid="false" class="activate-input ng-pristine ng-untouched ng-valid ng-not-empty" id="functionality-kanban" name="functionality-kanban" ng-checked="project.is_kanban_activated" ng-model="project.is_kanban_activated" type="checkbox"/>
    <div>
    </div>
    <span class="check-text check-yes" translate="COMMON.YES">
     Yes
    </span>
    <span class="check-text check-no" translate="COMMON.NO">
     No
    </span>
   </div>
  </div>
 </div>
 <div class="module module-issues active" ng-class="{true:'active', false:''}[project.is_issues_activated]">
  <div class="module-icon">
   <tg-svg svg-icon="icon-module-issues">
    <svg class="icon icon-module-issues" style="fill: ">
     <use href="#icon-module-issues" ng-attr-href="{{ '#' + svgIcon }}" ng-attr-xlink:href="{{ '#' + svgIcon }}" xlink:href="#icon-module-issues">
      <!-- -->
      <!-- -->
     </use>
    </svg>
   </tg-svg>
  </div>
  <div class="module-name" translate="ADMIN.MODULES.ISSUES">
   Issues
  </div>
  <div class="module-desc" translate="ADMIN.MODULES.ISSUES_DESCRIPTION">
   Track the bugs, questions and enhancements related to your project. Don't miss anything!
  </div>
  <div class="module-activation module-direct-active">
   <div class="check">
    <input aria-invalid="false" class="activate-input ng-pristine ng-untouched ng-valid ng-not-empty" id="functionality-issues" name="functionality-issues" ng-checked="project.is_issues_activated" ng-model="project.is_issues_activated" type="checkbox"/>
    <div>
    </div>
    <span class="check-text check-yes" translate="COMMON.YES">
     Yes
    </span>
    <span class="check-text check-no" translate="COMMON.NO">
     No
    </span>
   </div>
  </div>
 </div>
 <div class="module module-wiki active" ng-class="{true:'active', false:''}[project.is_wiki_activated]">
  <div class="module-icon">
   <tg-svg svg-icon="icon-module-wiki">
    <svg class="icon icon-module-wiki" style="fill: ">
     <use href="#icon-module-wiki" ng-attr-href="{{ '#' + svgIcon }}" ng-attr-xlink:href="{{ '#' + svgIcon }}" xlink:href="#icon-module-wiki">
      <!-- -->
      <!-- -->
     </use>
    </svg>
   </tg-svg>
  </div>
  <div class="module-name" translate="ADMIN.MODULES.WIKI">
   Wiki
  </div>
  <div class="module-desc" translate="ADMIN.MODULES.WIKI_DESCRIPTION">
   Add, modify, or delete content in collaboration with others. This is the right place for your project's documentation.
  </div>
  <div class="module-activation module-direct-active">
   <div class="check">
    <input aria-invalid="false" class="activate-input ng-pristine ng-untouched ng-valid ng-not-empty" id="functionality-wiki" name="functionality-wiki" ng-checked="project.is_wiki_activated" ng-model="project.is_wiki_activated" type="checkbox"/>
    <div>
    </div>
    <span class="check-text check-yes" translate="COMMON.YES">
     Yes
    </span>
    <span class="check-text check-no" translate="COMMON.NO">
     No
    </span>
   </div>
  </div>
 </div>
 <div class="module module-videoconference" ng-class="{true:'active', false:''}[isVideoconferenceActivated]">
  <div class="module-icon">
   <tg-svg svg-icon="icon-module-meet">
    <svg class="icon icon-module-meet" style="fill: ">
     <use href="#icon-module-meet" ng-attr-href="{{ '#' + svgIcon }}" ng-attr-xlink:href="{{ '#' + svgIcon }}" xlink:href="#icon-module-meet">
      <!-- -->
      <!-- -->
     </use>
    </svg>
   </tg-svg>
  </div>
  <div class="module-name" translate="ADMIN.MODULES.MEETUP">
   Meet Up
  </div>
  <div class="module-desc">
   <p translate="ADMIN.MODULES.MEETUP_DESCRIPTION">
    Choose your videoconference system.
   </p>
   <!-- -->
  </div>
  <div class="module-activation">
   <div class="check">
    <input aria-invalid="false" class="activate-input ng-pristine ng-untouched ng-valid ng-empty" id="functionality-video" name="functionality-video" ng-checked="project.isVideoconferenceActivated" ng-model="isVideoconferenceActivated" type="checkbox"/>
    <div>
    </div>
    <span class="check-text check-yes" translate="COMMON.YES">
     Yes
    </span>
    <span class="check-text check-no" translate="COMMON.NO">
     No
    </span>
   </div>
  </div>
 </div>
</form>
