<form class="ng-pristine tg-scope ng-invalid ng-invalid-required ng-valid-maxlength" tg-bind-scope="">
 <div class="row single-custom-field js-new-custom-field">
  <fieldset class="custom-name">
   <input aria-invalid="true" class="ng-pristine ng-empty ng-invalid ng-invalid-required ng-valid-maxlength ng-touched" data-maxlength="64" data-required="true" name="name" ng-model="newAttr.name" placeholder="Set your custom field name" type="text"/>
  </fieldset>
  <fieldset class="custom-description">
   <input aria-invalid="false" class="ng-pristine ng-untouched ng-valid ng-empty" name="description" ng-model="newAttr.description" placeholder="Set your custom field description" type="text"/>
  </fieldset>
  <fieldset class="custom-field-type">
   <select aria-invalid="false" class="ng-pristine ng-untouched ng-valid ng-empty" ng-model="newAttr.type" ng-options="type.key as type.name|translate for type in TYPE_CHOICES">
    <option selected="selected" translate="ADMIN.CUSTOM_ATTRIBUTES.FIELD_TYPE_DEFAULT" value="">
     -- select one --
    </option>
    <option label="Text" value="string:text">
     Text
    </option>
    <option label="Multi-line" value="string:multiline">
     Multi-line
    </option>
    <option label="Rich text" value="string:richtext">
     Rich text
    </option>
    <option label="Date" value="string:date">
     Date
    </option>
    <option label="Url" value="string:url">
     Url
    </option>
    <option label="Dropdown" value="string:dropdown">
     Dropdown
    </option>
    <option label="Checkbox" value="string:checkbox">
     Checkbox
    </option>
    <option label="Number" value="string:number">
     Number
    </option>
   </select>
  </fieldset>
  <fieldset class="custom-options">
   <div class="custom-options-wrapper">
    <a class="js-create-custom-field-button" href="" title="Save custom field">
     <tg-svg svg-icon="icon-check-empty">
      <svg class="icon icon-check-empty" style="fill: ">
       <use href="#icon-check-empty" ng-attr-href="{{ '#' + svgIcon }}" ng-attr-xlink:href="{{ '#' + svgIcon }}" xlink:href="#icon-check-empty">
        <!-- -->
        <!-- -->
       </use>
      </svg>
     </tg-svg>
    </a>
    <a class="js-cancel-new-custom-field-button hidden" href="" title="Cancel creation">
     <tg-svg svg-icon="icon-close">
      <svg class="icon icon-close" style="fill: ">
       <use href="#icon-close" ng-attr-href="{{ '#' + svgIcon }}" ng-attr-xlink:href="{{ '#' + svgIcon }}" xlink:href="#icon-close">
        <!-- -->
        <!-- -->
       </use>
      </svg>
     </tg-svg>
    </a>
   </div>
  </fieldset>
 </div>
 <div aria-hidden="true" class="custom-field-extra ng-hide" ng-show="newAttr.type == 'dropdown' &amp;&amp; isExtraVisible[-1]">
  <div class="js-child-sortable" data-id="-1">
   <!-- -->
  </div>
  <div class="custom-extra-actions">
   <a class="js-add-option-custom-field-extra-button" href="">
    <tg-svg svg-icon="icon-add">
     <svg class="icon icon-add" style="fill: ">
      <use href="#icon-add" ng-attr-href="{{ '#' + svgIcon }}" ng-attr-xlink:href="{{ '#' + svgIcon }}" xlink:href="#icon-add">
       <!-- -->
       <!-- -->
      </use>
     </svg>
    </tg-svg>
    <span>
     Add option
    </span>
   </a>
  </div>
 </div>
</form>
